<div class="content-fluid background-blue home">
  <div class="titles">
    <h1>Bienvenido a la prueba técnica</h1>
    <h4> de Patricia Antelo</h4>
    <div class="buttons">
      <button mat-raised-button color="warn" (click)="registro=false">Login</button>
      <button mat-raised-button color="warn" (click)="registro=true">Sing in</button>
    </div>
  </div>
  <div class="content-fluid components-box ">
    <div *ngIf="!registro">
      <app-login></app-login>
    </div>
    <div *ngIf="registro">
      <app-sing-in></app-sing-in>
    </div>
  </div>
</div>
