@import '../../../variables.scss';

.background-blue{
  background-image: url(../../../assets/images/fondoAzul.jpg);
  background-color: $blue;
  background-size: cover;
  height: 300px;
}
.home .titles h1,.home .titles h4{
  color: rgb(251, 245, 246);
}
.home .titles{
  text-align: center;
  padding-top: 10%;
}
.home .buttons{
  display: flex;
  justify-content: center;
}
button{
  min-width: 30%;
  padding: 5px;
  text-align: center;
  margin: 10px;
}
.components-box{
  padding: 20%;
}
