<div class="content-fluid background-blue">
  <div class="titles">
    <h1>Bienvenido a la prueba técnica</h1>
    <h4>Patricia Antelo</h4>
  </div>
  <app-login></app-login>
  <!-- <mat-grid-list cols="1" rowHeight="4:1" class="titles">
    <mat-grid-tile>
      <h1>Bienvenido a la prueba técnica</h1>
      <h4>Patricia Antelo</h4>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="4:1" class="titles">
    <mat-grid-tile>
      <h4>Patricia Antelo</h4>
    </mat-grid-tile>
  </mat-grid-list> -->
</div>
