
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>perm_identity</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
<h1 class="temp">holaa</h1>
<h2>Resources</h2>
<h3>papeeee</h3>
  <p>Here are some links to help you get started:</p>
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
</div>
<!-- "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css", -->
