
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img src="../assets/images/logo.PNG" class="logo" alt=""></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>perm_identity</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content-fluid background-blue home">
  <div class="titles">
    <h1>Bienvenido a la prueba técnica</h1>
    <h4>Patricia Antelo</h4>
    <div class="buttons">
      <button mat-raised-button color="warn" routerLink="login">Login</button>
      <button mat-raised-button color="warn" routerLink="singIn" >Sing in</button>
    </div>
  </div>
  <app-login></app-login>
  <app-sing-in></app-sing-in>
</div>
