@import '../../../variables.scss';
:host{
  display: flex;
  justify-content: center;
  margin-bottom: 50px 0px;
}
mat-card{
  max-width: 50%;
  min-width: 40%;
  padding: 40px;

}
mat-card-title, mat-card-content{
  display: flex;
  justify-content: center;
}
mat-card-title{
  color: $blue;
  font-size: x-large;
}
mat-form-field{
  width: 100%;
  min-width: 50%;
}
button{
  width: 100%;
  color: rgb(250, 216, 222);
}

