@import '../../../variables.scss';

.containerUser{
  background-color: $blue;
  padding-left: 30%;
  padding-top: 20%;
  padding-bottom: 20%;

}
.card{
  width: 30%;

}
.boton{
  margin-top: 10%;
  padding-left: 13%;
}
