/* You can add global styles to this file, and also import other style files */
@import 'variables';

html, body {
  height: 100%;
  margin: 0%;
  box-sizing: border-box;
}
.content{
  margin: 20px;
}

.temp {
  color: $pink;
}
